<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gitee.osinn.mybatis.page.plugin.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="pageResultMap" type="com.gitee.osinn.mybatis.page.plugin.entity.UserEntity">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="tenant_id" property="tenantId" />
        <collection property="roleList" ofType="com.gitee.osinn.mybatis.page.plugin.entity.RoleEntity">
            <id column="r_id" property="id" />
            <result column="r_name" property="name" />
            <result column="r_tenant_id" property="tenantId" />
        </collection>
    </resultMap>

    <select id="testMybatis2Page" resultType="com.gitee.osinn.mybatis.page.plugin.entity.UserEntity">
        SELECT * FROM user
    </select>
    <select id="testMybatisPage" resultType="com.gitee.osinn.mybatis.page.plugin.entity.UserEntity">
        SELECT * FROM user where username = #{username}
    </select>
    <select id="testMybatis3Page" resultType="com.gitee.osinn.mybatis.page.plugin.entity.UserEntity">
        SELECT * FROM user where username = #{username} and password = #{password}
    </select>
    <select id="selectAll" resultType="com.gitee.osinn.mybatis.page.plugin.entity.UserEntity">
        SELECT * FROM `user`
    </select>
    <select id="testPage" resultType="com.gitee.osinn.mybatis.page.plugin.entity.UserEntity">
        SELECT * FROM user LIMIT #{pageNum}, #{pageSize};
    </select>
    <select id="testMybatis4Page" resultType="com.gitee.osinn.mybatis.page.plugin.entity.UserEntity">
        SELECT * FROM user
    </select>
</mapper>